// Mixins in here
.button(@bg-color, @color, @w, @size, @radius, @align){
    background-color:@bg-color;
    color:@color;
    width:@w;
    font-size: @size;
    border-radius: @radius; 
    text-align: @align;
    padding: 5% 0;
}